* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Courier New";
}

label.error {
    color: red;
    font-size: 13px;
}

.error {
    border-color: red;
    border-width: 2px;
}

.valid {
    border-color:green;
    border-width: 2px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
    padding: 0 16px;
}

.container {
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 3px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: #233237;
    color: #ffffff;
    padding: 15px;
    height: auto;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footcolumns {
    float: left;
    width: 33.33%;
}

.column {
    -ms-flex: 100%;
    flex: 50%;
    max-width: 50%;
    padding: 0 6px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #233237;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #18121E;
}

.aside {
    background-color: #233237;
    padding: 15px;
    height: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

form {
    display: inline-block;
    text-align: left;
    margin-left: 20%;
}

.footer {
    background-color: #233237;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

#title1 {
    text-align: center;
    font-size: 40px;
    border: 10px;
}

#menu1 {
    text-align: center;
    padding-bottom: 10px;
}

.header1 {
    text-align: center;
    font-size: 75px;
}

#support {
    border-radius: 50px;
}

#animationheader {
    font-size: 30px;
}

#animationsdescription {
    font-size: 25px;
}

.list1 {
    text-align: center;
}

u1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}

li a.active {
    background-color: darkgray;
    color: black;
}

li a:hover:not(.active) {
    background-color: #18121E;
    color: white;
}

.prop {
    padding: 8px;
    border-radius: 4px;
    outline-color: black;
}

a {
    color: white;
}

select {
    width: 175px;
    border: 1px solid black;
}

input {
    border: 1px solid black;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .column {
        -webkit-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .footcolumns {
        width: 33.33%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .column {
        flex: 50%;
        max-width: 50%;
    }
    .footcolumns {
        width: 33.33%;
    }
}

@media only screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .footcolumns {
        width: 100%;
    }
}

.falling-snow {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.falling-snow img {
    max-width: 100%;
    height: auto;
    display: block;
}

.falling-snow i:after,
.falling-snow i:before {
    content: "";
}

.falling-snow i:after,
.falling-snow i:before,
.falling-snow i {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.falling-snow i:after {
    background: url("snowflakes-lg.png") repeat 0px 0px;
    animation: falling-down-snow 4s linear infinite;
}

.falling-snow i:before {
    background: url("snowflakes-md.png") repeat 0px 0px;
    animation: falling-down-snow 8s linear infinite;
}

.falling-snow i {
    background: url("snowflakes-sm.png") repeat 0px 0px;
    animation: falling-down-snow 20s linear infinite;
}

@keyframes falling-down-snow {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0px 280px;
    }
}

@-webkit-keyframes falling-down-snow {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0px 280px;
    }
}
